html {
  background-color: #f5f6fa;
  font-family: 'Rubik', sans-serif;
}

.comment-users-container {
  max-width: 733px;
  margin: auto;
  padding-bottom: 5px;
  .comment {
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px auto;
    gap:25px;
    .comment-votes-content{
      margin: auto;
      background-color: hsl(228, 33%, 97%);
      border-radius: 5px;
      padding: 0 5px;
      text-align: center;
      .comment-button-plus{
        padding: 10px 10px 12px 10px;
        color: hsl(239, 57%, 85%);
        font-size: 1.2em;
        cursor: pointer;
        font-weight: 700;
      }
      .comment-votes{
        color: hsl(238, 40%, 52%);
      }
      .comment-button-minus{
        padding: 8px 10px;
        color: hsl(239, 57%, 85%);
        font-size: 1.2em;
        cursor: pointer;
        font-weight: 700;
      }
    }
    .comment-header {
      display: flex;
      justify-content: space-between;

      .comment-profile {
        display: flex;
        gap: 15px;

        img{
          border-radius: 50px;
          vertical-align: middle;
          height: 40px;
          width: 40px;
          cursor: pointer;
        }

        .username{
          margin: auto;
          font-weight: 500;
          cursor: pointer;
        }

        .posted-time{
          margin: auto;
          color: hsl(211, 10%, 45%)
        }
      }

    }
    .comment-buttons{
      display: flex;
      gap:30px;

      .reply-content{
        margin: auto;

        .reply-button{
          background: none;
          border: none;
          color: hsl(238, 40%, 52%);
          font-weight: bold;
          font-size: 1.1em;
          cursor: pointer;
        }

      }
    }

    .comment-content{
      padding-top: 14px;
      color: hsl(211, 10%, 45%);
      line-height: 1.5;
    }
  }
}

.add-a-comment-content {
  max-width: 735px;
  height: 144px;
  background-color: #fff;
  margin: auto;
  border-radius: 5px;
  display: flex;
  .profile-picture{
    display: flex;
    padding-left: 25px;
    img{
      border-radius: 50px;
      vertical-align: middle;
      height: 40px;
      width: 40px;
      cursor: pointer;
      margin-top: 30px;
    }
  }
  .add-a-comment-textarea {
    min-width: 60%;
    max-width: 506px;
    border-radius: 5px;
    margin: auto;
    resize: none;
    border-color: hsl(223, 19%, 93%);
    height: 95px;
    ::placeholder{
      color: red;
    }
  }
  .send-button {
    margin: auto;
    width: 104px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    background-color: #5358b6;
    color: white;
    font-weight: 700;
    font-size: 1em;
    border: none;
  }
}

.social-button {
  background-color: #4267B2;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
